langchain
langchain-community
langchain-core
langchain-openai
langchain-upstage
langchain-pinecone
langchain-text-splitters
langchain-chroma
langchain-huggingface
pymupdf
fastapi[all]
dependency-injector
uvicorn
redis
pytest
pytest-asyncio
asgi_lifespan
streamlit
